#user-profile-wrapper-edit.hide
  form.form(action="/settings/profile", method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
    ul.form-messages
    .form-group
      a(href="https://gravatar.com", target="_blank")
        img(src=citizen.gravatar, width="30")
        strong= t('Change your profile picture at gravatar.com')
    .form-group
      label #{t('First name')}
      input.form-control(type='text', id="firstName", name='firstName', tabindex=1, placeholder=t('First name'), value='#{citizen.firstName}', validate='required firstname')
    .form-group
      label #{t('Last name')}
      input.form-control(type='text', id="lastName", name='lastName', tabindex=2, placeholder=t('Last name'), value='#{citizen.lastName}', validate='required lastname')
    .form-group
      label= t('About')
      textarea.form-control(type='textarea' name='about', tabindex=4, placeholder=t('About you'))
        | #{citizen.about}
    .form-group.tags-wrapper

    .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=4)=t('Save')